{% extends "base_user_logged.html" %}

{% block main%} 
<section style="background-color: #eee;">
        <div class="container p-5" >
          <div class="row" style="margin-top: 7rem">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                   
                    <p>Hi, Coordinator<br>{{ user.username }}</p>
                </div>
              </div>
              <div class="card mb-4 mb-lg-0">
                <div class="card-body p-0">
                  <ul class="list-group list-group-flush rounded-3">
                    <li class="list-group-item d-flex align-items-center p-3">
                        <i class="fa-solid fa-lg fa-cart-shopping"></i>
                      <p class="m-1 p-2">Alle Mijn Events:</p>
                    </li>
                    <li class="list-group-item d-flex align-items-center p-3">
                        <i class="fa-solid fa-sliders fa-lg"></i>
                      <p class="m-1 p-2">Mijn Overzicht:</p>
                    </li>
                    <li class="list-group-item d-flex align-items-center p-3">
                        <i class="fa-solid fa-folder-open fa-lg"></i>
                      <p class="m-1 p-2">Mijn folders:</p>
                    </li>
                    <li class="list-group-item d-flex align-items-center p-3">
                        <i class="fa-solid fa-comments fa-lg"></i>
                      <p class="m-1 p-2">Comments:</p>
                    </li>
                    <li class="list-group-item d-flex  align-items-center p-3">
                        <i class="fa-solid fa-inbox fa-lg"></i>
                      <p class="m-1 p-2">Mijn inbox:</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Volledige Naam</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.voornaam}}{{ user.achternaam}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.email }}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Telefoon</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.telefoon}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Username</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{ user.username}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                {% for reservering in reserverings %}
                <div class="col-md-6">
                  <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                      <p class="mb-4"><span class="text-primary font-italic me-1">Evenemnet</span>{{ reservering.evenement_naam}}
                      </p>
                      <p class="mb-1" style="font-size: .77rem;">Evenement</p>
                      <p class="card-text">van: {{ reservering.start_datum }}&nbsp; tot met: {{ reservering.eind_datum }}</p>
                      <p class="card-text">van: {{ reservering.start_tijd}}&nbsp; tot met: {{ reservering.eind_tijd}}</p>
                      <p class="card-text">Beschrijving: {{ reservering.beschrijving }}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </section>
      
{%endblock%}

