{% extends "base_spreker.html" %}
{% block main %}
<div class="row" style="padding:4rem 0rem 0rem 11rem; margin-top:2rem; ">
        <div class="line"></div>
        <div class="col-lg-6">
          <div class="section-title">
            <h2  style="overflow: visible;">Alle Evenementen </h2>
            <p>I design and develop services for customers of all sizes, specializing in creating stylish,
              modern websites</p>
          </div>
        </div>
      </div>
      
      <div class="form-row mb-4" >
      
      
        <div class="card" style="width: 80vw; margin:10rem;">
          <!--start header form image -->
          <header>
            <div class="text-center bg-image" style="
                  background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
                  height: 400px;">
              <div class="mask bg-image " style="background-color: rgba(0, 0, 0, 0.6); width:100%; height:100%;">
                <div class="d-flex justify-content-center align-items-center h-100">
                  <div class="text-white">
                    <h1 class="mb-3 " style="overflow: visible;">Spreker Evenement Reserveren</h1>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <!--Start section -->
          <!--End header form image -->
          <div class="card-body">
            {{ errors | raw }}
            <section class="form-1">
              <!-- start form spreker aanmelden -->
              <form action="/action/ac_presentatie.php?a=presentatie" method="post">
                <div class="form-group row">
                  <div class="col">
                    <label>Spreker naam</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-solid fa-person"></i></span>
                      </div>
                      <input type="text" class="form-control" name="spreker_naam" id="spreker_naam"
                        placeholder="Voer je naam en achternaam" value="{{ user.voornaam}} {{ user.achternaam}}">
                    </div>
                  </div>
                  <div class="col">
                    <label>Slecteer een Event</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa-regular fa-handshake"></i></span>
                      </div>
                      <select id="evenement_naam" name="evenement_id" class="form-select eventSelect" aria-label="Default select">
                        <option selected>Selecteer een Event</option>
                        {% for eventData in events %}
                        <option value="{{ eventData['id'] }}" >{{ eventData['evenement_naam']}}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                  <div class="col">
                    <label>Start tijd van je presentatie</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="pr_start_tijd"><i class="fa-regular fa-clock"></i></span>
                      </div>
                      <input type="time" class="form-control" name="pr_start_tijd" id="start_tijd">
                    </div>
                  </div>
                  <div class="col">
                    <label>Eind tijd van je presentatie</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="pr_eind_tijd"><i class="fa-solid fa-clock"></i></span>
                      </div>
                      <input type="time" class="form-control" name="pr_eind_tijd" id="eind_tijd">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Presentatie Beschrijving</label>
                  <textarea class="form-control" name="pr_beschrijving" id="exampleFormControlTextarea1" rows="3" placeholder="Enter your description here ...."></textarea>
                </div>
      <!--------------------------------------------------------------------------- button submit------------------------------------------------------------------------->
                <div class="form-group" style="margin:3rem; ">
                  <input type="submit" name="reserveren" class="reserverenBtn btn btn-warning waves-effect float-end" style="text-decoration: none;" value="Sperker Aanmelden"></input>
                </div>
              </form>
            </div>
            </section>
          </div>
        </div>
      </div>
      {%endblock%}
