* {
  font-family: 'MuseoModerno', sans-serif;
  /* overflow: hidden; */
  font-size: 16px;
}
.form_success {
  color: #4f8a10;
  background-color: #dff2bf;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.errors_form {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
.line {
  width: 4px;
  height: 6rem;
  background-color: rgb(221, 171, 44);
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 20rem;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
/* 
.close {
color: #aaa;
float: right;


}

.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
} */
